.s1-fullscreen {
	min-height: 100vh;
	display: flex;
	padding: 7rem 0;

	background-image: url("../media/s1-bgi.jpg");
	background-size: cover;
	background-position: center bottom;

	overflow: hidden;
}

// ! Стили для меню
.header {
	position: absolute;
	top: 2.5rem;
	left: 0;
	right: 0;
	z-index: 5;

	// Parent for absolute positioned header children
	&__wrapper {
		position: relative;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 3.5rem;
	
		padding-left: 15px;
		padding-right: 15px;
	}

	&__logo {
		position: absolute;
		left: 50%;
		z-index: 15;
		transform: translateX(-50%);

		display: block;
		height: 3.5rem;
		overflow: hidden;

		transition-duration: 1s;
		transition-timing-function: cubic-bezier(0.1, 0.8, 0.2, 1);
		& img {
			display: block;
			height: 100%;
		}
	}

	// ! Active desktop menu
	&__logo--left {
		left: 15px;
		transform: translateX(0);
		width: 4rem;
	}
}

.menu {
	position: absolute;
	right: 0;
	transform: translateX(100%);

	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0.1, 0.8, 0.2, 1);

	// ! Active desktop menu
	&--hide {
		right: 55px;
		transform: translateX(0);
	}

	&__list {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item a {
		display: block;
		padding: 1rem 5px;
		
		font-family: $os-font;
		font-size: 1.5rem;
		font-weight: 600;
		text-decoration: none;
		color: $gold;

		transition: 0.5s;
		&:hover {
			color: $sand;
		}
	}
}


// ----- Burger menu styles -----
.burger {
	position: absolute;
	right: 15px;

	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&__icon {
		position: relative;
		width: 30px;
		height: 5px;
		background-color: $d-grey;
		transition-delay: 0.2s;
	}
	&__icon::before {
		position: absolute;
		left: 0;
		top: -10px;
		content: '';
		width: 30px;
		height: 5px;
		background-color: $d-grey;
		transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	}
	&__icon::after {
		position: absolute;
		left: 0;
		top: 10px;
		content: '';
		width: 30px;
		height: 5px;
		background-color: $d-grey;
		transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	}

	// ! Active desktop menu
	&--active .burger__icon {
		background-color: transparent;
	}
	&--active .burger__icon::before {
		transform: rotate(45deg);
		top: 0;
		transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	}
	&--active .burger__icon::after {
		transform: rotate(-45deg);
		top: 0;
		transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	}
}


// ----- Header content styles ------
.s1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&__tagline {
		margin: 0 0 2.5rem;
		font-family: $mw-font;
		font-size: 1.2rem;
		line-height: 2rem;
		font-weight: 400;
		color: $bronze;
		text-align: center;
	}
	&__btn-container {
		display: flex;
	}
	&__btn {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		&:hover {
			color: $sand;
			border-color: $sand;
		}
	}
}

// ----- Mobile version -----
@media all and (max-width: 768px) {
	.s1 {
			&__btn {
			margin: 0;
			&:first-child {margin-right: 10px;}
		}
	}

	.s1__tagline {
		margin-bottom: 15px;
	}

	.header {
		top: 15px;
	}

	.menu {
		top: -15px;
		left: 0;
		right: 0;
		min-height: 100vh;
		background-color: $sand;
	
		&__list {
			flex-direction: column;
			padding-top: 60px;
			text-align: center;
		}

		&__item {
			position: relative;
			& a {color: $bronze; font-size: 2rem;}
		}

		&__item::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			display: block;
			width: 80%;
			border: 2px solid $gold;
			border-radius: 5px;

			transform: translateX(-50%) scaleX(0.1);
			transition: 1s;
			transition-timing-function: cubic-bezier(0.1, 0.8, 0.2, 1);
		}

		&__item:hover {
			& a {color: $gold;}
			&::after {
				border-color: $bronze;
				transform: translateX(-50%) scale(1);
			}
		}
	}
}