.s2-body {
	display: flex;
	justify-content: center;
}

.s2-content {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	max-width: 1200px;
	min-height: 100vh;
	padding: 15px;
}

.s2-card {
	width: calc(50% - 15px);
	padding: 3.75rem 15px;
	border: 10px solid $gold;
	&__title {
		margin: 0;
		margin-bottom: 3.75rem;
		font-family: $os-font;
		font-size: 3rem;
		font-weight: 700;
		text-transform: uppercase;
		color: $gold;
	}
	&__text {
		margin: 0;
		font-family: $mw-font;
		font-size: 1rem;
		font-weight: 400;
		color: $d-grey;
	}
}

.s2-bg {
	right: 0;
	width: 80%;
}