// ! С видео повозиться надо

.history {
	position: relative;
	display: flex;
	justify-content: flex-end;
	& .card {
		z-index: 5;
	}

	// Video for desctop version only
	&__bg-video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 25%;
		z-index: 1;
		overflow: hidden;

		& video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// Image instead video for mobile version
	&__bg-image {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 25%;
		z-index: 1;
		overflow: hidden;
		opacity: 0.8;

		background-image: url("../media/s3-video-poster.jpg");
		background-size: cover;
		background-position: center center;

		display: none;
	}
}

.controls {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%,-50%);

	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100px;

	&__name {
		font-family: $mw-font;
		font-size: 1.2rem;
		font-style: italic;
		text-transform: uppercase;
		color: $bronze;
	}
}

#play-pause-button {
	position: relative;
	display: block;
	width: 90px;
	height: 90px;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: 4px solid $bronze;
	border-radius: 50%;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

.play::before,
.play::after,
.pause::before,
.pause::after {
	content: "";
	position: absolute;
	top: 17px;

	display: block;
	width: 4px;
	height: 50px;
	background-color: $bronze;
	border-radius: 3px;
	transition: 0.5s;
}
.play::before,
.pause::before {left: 25px;}
.play::after,
.pause::after {right: 25px;}

.play {
	transform: rotate(-270deg);
	transition: 0.5s;
}
.pause {
	transition: 0.5s;
	opacity: 0.5;
	&:hover {opacity: 0.8;}
}

.play::before {
	transform: rotate(35deg) translate(-5px,-8px);
	
}
.play::after {
	transform: rotate(-35deg) translate(5px,-8px);
}

// Mobile version
@media all and (max-width: 768px) {
	.history {
		&__bg-video {display: none;}
		&__bg-image {display: block;}
	}
}