// ! С видео повозиться надо

.s3 {
	position: relative;
	display: flex;
	justify-content: flex-end;

	&__bg-video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 25%;
		z-index: -1;
		overflow: hidden;

		& video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__bg-image {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		padding-left: 73.8%;
		overflow: hidden;

		background-image: url("../media/s3-video-poster.jpg");
		background-size: cover;
		background-position: center center;
	}
}