.s5 {
	display: flex;
	flex-flow: column wrap;
	align-content: space-between;
	justify-content: space-between;
	max-height: 37.5rem;
	overflow: hidden;

	&__members-container {
		flex-basis: 100%;
		order: 2;
		margin-left: 8.33%;
		width: calc(33.33% - 15px);
		border: 10px solid $gold;
	}
}

.s5-card {
	order: 4;
}

.member {
	display: none;
	&--active {display: block;}

	&__photo {
		position: relative;
		overflow: hidden;
		padding-top: 135%;

		& img {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__data {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 15px;
	}

	&__name {
		flex: 1 1 100%;
		margin-top: 0;
		margin-bottom: 1rem;
		font-family: $os-font;
		font-weight: 300;
		font-size: 1.2rem;
		color: $bronze;
	}
	&__function {
		flex: 1 0 60%;
		margin: 0;
		font-family: $os-font;
		font-style: italic;
		font-weight: 300;
		font-size: 0.8rem;
		color: $bronze;
	}
	&__links {
		flex: 0 0 auto;
		display: flex;
	}
	&__link {
		display: block;
		height: 1rem;
		overflow: hidden;
		& svg {
			height: 100%;
			fill: $m-grey;
			&:hover {fill: $bronze;}
		}
		&:not(:last-child) {margin-right: 0.5rem;}
	}
}

// Tabs
.tabs-triggers {
	order: 6;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__item {
		display: block;
		width: 5rem;
		height: 5rem;
		background-size: cover;
		overflow: hidden;
		border: 5px solid $gold;
		opacity: 0.5;

		&--active {opacity: 1;}
	}

	&__item--1 {background-image: url('../media/team-1.jpg');}
	&__item--2 {background-image: url('../media/team-2.jpg');}
	&__item--3 {background-image: url('../media/team-3.jpg');}
	&__item--4 {background-image: url('../media/team-4.jpg');}
}