.s6 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__reviews {}

	&__clients {
		margin-top: 7.5rem;
	}
}


.clients {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	&__image {
		height: 7rem;
		max-width: 25%;
		overflow: hidden;
		object-fit: contain;
	}
}