// ! Colors
$sand:   rgb(245,240,160);
$gold:   rgb(230,180,70);
$bronze: rgb(140,110,40);
$l-grey: rgb(242,242,242);
$m-grey: rgb(153,153,153);
$d-grey: rgb(63,63,63);

// ! Fonts
$os-font: "OpenSans", sans-serif;
$mw-font: "Merriweather", serif;

// ! Mixins
@mixin responsive-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ! General styles
html,
body {
	min-width: 320px;
	height: 100%;
	font-family: $mw-font;
	color: $d-grey;
	// M & P size by rem
	font-size: 20px;
}

body {overflow-x: hidden;}

* {box-sizing: border-box;}

// Main blocks
.section {
	position: relative;
	padding: 7.5rem 0;
	&--grey {
		background-color: $l-grey;
		padding-top: 4.5rem;
		padding-bottom: 4.5rem;
	}
}

.container {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

// Secondary blocks
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-left:  1.5rem;
	padding-right: 1.5rem;
	border: 10px solid $gold;
	padding-top: 3rem;
	padding-bottom: 3rem;

	transition: 1s ease-in-out;
	&:hover {
		transform: translateY(-5px);
		box-shadow: 0px 10px 5px 3px rgba(140,110,40,0.5);
		background-color: rgb(255,255,255);
	}
}

.card--6col {
	width: calc(50% - 15px);
}

.card--5col {
	width: calc(41.67% - 15px);
}

// Headings & text content
h1,
h2,
h3 {
	font-family: $os-font;
	text-transform: uppercase;
}

h1 {
	margin: 0 0 3rem;
	font-size: 4.5rem;
	font-weight: 800;
	color: $sand;
	text-align: center;
}

h2 {
	margin: 0 0 3rem;
	font-size: 2.4rem;
	font-weight: 700;
	color: $gold;
	line-height: 3rem;
	text-align: left;
}

h3 {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 600;
	color: $d-grey;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.btn {
	display: block;
	width: 10rem;
	height: 3rem;
	padding: 0;
	margin: 0;

	font-family: $os-font;
	font-weight: 600;
	font-size: 1rem;
	color: $bronze;
	line-height: calc(3rem - 4px);
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;
	text-decoration: none;
	text-overflow: ellipsis;

	border: 2px solid $bronze;
	border-radius: 3rem;
	background-color: transparent;
	transition: 0.5s;
}

.card-text {
	display: block;
	margin: 0;
	font-size: 0.8rem;
	line-height: 1.6rem;
	font-weight: 400;
}

// Breakpoint 1 - max-width 1200px notebook
@media all and (max-width: 1200px) {
	html,
	body {
		font-size: 16px;
	}
	.card-text {
		font-size: 1rem;
	}
}

// Breakpoint 1 - max-width 992px tablet
@media all and (max-width: 992px) {
	html,
	body {
		font-size: 14px;
	}
	.card-text {
		font-size: 1rem;
	}
}

// Breakpoint 3 - max-width 768px phone
@media all and (max-width: 768px) {
	.section {
		padding: 45px 0;
		&--grey {
			background-color: $l-grey;
			padding-top: 30px;
			padding-bottom: 30px;
		}
	}

	.card {
		padding: 15px;
		border-width: 5px;
	}

	.card--6col,
	.card--5col {
		width: calc(91.33% - 30px);
	}

	.card-text {
		line-height: 1.3;
	}

	h1,
	h2 {
		margin-bottom: 15px;
		line-height: 1;
	}

	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2rem;
	}
}
